body{
margin: 0;
padding: 0;
box-sizing: border-box;
position: relative;
}

button{
    height: 50px;
    width: 150px;
    background-color: aquamarine;
    border-radius: 8px;
    
}

.landingpage{
    height: 400px;
    line-height: 1px;
    color: green;
    background-image: url("https://images.unsplash.com/photo-1663429975663-2678b27c5a0a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80");
    background-size:contain;
    display: block;
    text-align: center;
    padding: 12px;
    position: absolute;
    top: 128px;
    width: 100%;
}

.landingpage h1{
    color: white;
}