body{
margin: 0;
padding: 0;
box-sizing: border-box;
position: relative;
}

button{
    height: 50px;
    width: 150px;
    background-color: aquamarine;
    border-radius: 8px;
    
}

.landingpage{
    height: 400px;
    line-height: 1px;
    color: green;
    background-image: url("https://static7.depositphotos.com/1002240/786/i/600/depositphotos_7869521-stock-photo-giraffes.jpg");
    background-size:cover;
    display: block;
    text-align: center;
    padding: 12px;
    position: absolute;
    top: 128px;
    width: 100%;
}

