<% [{name:"Serengeti National Park"}, {name:"Kruger National Park"},
{name:"Mount Kilimanjaro National Park"},{name:"Arusha National Park"} ,{name:"Serengeti National Park"}].forEach(park => {%>
    <h1><%= park.name%></h1>
<%}); %>
